<div class="container pt-5">

    <div class="row align-items-center my-5">

        <!-- /.col-lg-8 -->
        <div class="col-lg-12">
            <h1 class="font-weight-light">Prueba de Postulación para Front-End</h1>
            <p>Realizado con: </p>
            <ul>
                <li>Bootstrap 4.6.x</li>
                <li>Angular 8</li>
            </ul>

            <p>Julio Esteban Cáceres Sanzana</p>
        </div>

    </div>

</div>