<div class="container pt-5">
  <div class="row align-items-center my-5">
    <div class="col-lg-12 ">
      <h1 class="font-weight-light">Ejercicio Dos</h1>
      <p>Para iniciar presione el botón a continuación:</p>
      <button [disabled]="disabled" class="btn btn-success btn-block" (click)="traerDatos()">
        Consumir Api
      </button>
    </div>
  </div>
  <div class="row align-items-center" *ngIf="dataResultante.length > 0" >
    <div class="col-lg-12 mt-2">
      <div class="table-responsive">
        <table class="table mt-2 table-bordered table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">a</th>
              <th scope="col">b</th>
              <th scope="col">c</th>
              <th scope="col">d</th>
              <th scope="col">e</th>
              <th scope="col">f</th>
              <th scope="col">g</th>
              <th scope="col">h</th>
              <th scope="col">i</th>
              <th scope="col">j</th>
              <th scope="col">k</th>
              <th scope="col">l</th>
              <th scope="col">m</th>
              <th scope="col">n</th>
              <th scope="col">o</th>
              <th scope="col">p</th>
              <th scope="col">q</th>
              <th scope="col">r</th>
              <th scope="col">s</th>
              <th scope="col">t</th>
              <th scope="col">u</th>
              <th scope="col">v</th>
              <th scope="col">w</th>
              <th scope="col">x</th>
              <th scope="col">y</th>
              <th scope="col">z</th>
              <th scope="col">Suma</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of dataResultante ; index as i">
              <th scope="row">{{ i+1 }}</th>
              <td>{{ item.a }}</td>
              <td>{{ item.b }}</td>
              <td>{{ item.c }}</td>
              <td>{{ item.d }}</td>
              <td>{{ item.e }}</td>
              <td>{{ item.f }}</td>
              <td>{{ item.g }}</td>
              <td>{{ item.h }}</td>
              <td>{{ item.i }}</td>
              <td>{{ item.j }}</td>
              <td>{{ item.k }}</td>
              <td>{{ item.l }}</td>
              <td>{{ item.m }}</td>
              <td>{{ item.n }}</td>
              <td>{{ item.o }}</td>
              <td>{{ item.p }}</td>
              <td>{{ item.q }}</td>
              <td>{{ item.r }}</td>
              <td>{{ item.s }}</td>
              <td>{{ item.t }}</td>
              <td>{{ item.u }}</td>
              <td>{{ item.v }}</td>
              <td>{{ item.w }}</td>
              <td>{{ item.x }}</td>
              <td>{{ item.y }}</td>
              <td>{{ item.z }}</td>
              <td>{{ item.suma }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-12 mt-2">
      <h1 class="font-weight-light">Párrafos Recuperados</h1>
      <p>A continuación, se podrán ver los párrafos recuperados y revisar la información procesada:</p>
      <ul class="">
        <li class="text-justify" *ngFor="let item of dataRecuperada; index as i">
          {{ i+1 }} - {{ item }}</li>
      </ul>
    </div>
  </div>
</div>