<!-- Llamamos a nuestro componente que contiene al navbar -->
<app-navbar></app-navbar>

<!-- Llamamos al cuerpo de nuestra aplicacion -->
<router-outlet></router-outlet>

<!-- Llamamos al footer simple -->
<app-footer></app-footer>
