<div class="container pt-5">
  <div class="row align-items-center my-5">
    <div class="col-lg-12">
      <h1 class="font-weight-light">Ejercicio Uno</h1>
      <p>Para iniciar presione el botón a continuación:</p>
      <button [disabled]="disabled" class="btn btn-success btn-block" (click)="traerDatos()">
        Consumir Api
      </button>
    </div>
  </div>
  <div class="row align-items-center" *ngIf = " dataRecuperada.length  > 0 ">
    <div class="col-lg-12">
      <div class="table-responsive">
        <table class="table mt-2 table-bordered table-hover" id="ejercicio_uno">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Numero</th>
              <th scope="col">Ocurrencias</th>
              <th scope="col">Primera posicion</th>
              <th scope="col">Ultima posicion</th>
            </tr>
          </thead>
          <tbody>
            <tr
              class="{{ item.ocurrencias >= 2 ? 'table-success' : item.ocurrencias == 1 ? 'table-warning' : 'table-secondary' }}"
              *ngFor="let item of dataProcesada ; index as i">
              <th style="width:20%" scope="row">{{ i+1 }}</th>
              <td style="width:20%" >{{ item.numero }}</td>
              <td style="width:20%" >{{ item.ocurrencias }}</td>
              <td style="width:20%" >{{ item.primera_posicion }}</td>
              <td style="width:20%" >{{ item.ultima_posicion }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-12 mt-2">
      <h1 class="font-weight-light">Data Recuperada</h1>
      <p>A continuación, se podrá ver el array de números recuperado y ordenado de menor a mayor:</p>

      <div class="form-group">
        <label for="data_recuperada">Data recuperada:</label>
        <input class="form-control" name="data_recuperada" type="textbox" value="[ {{ dataRecuperada }} ]" disabled>

        <label for="data_ordenada">Data ordenada:</label>
        <input class="form-control" name="data_ordenada" type="textbox" value="[ {{ dataOrdenada }} ]" disabled>
      </div>
    </div>
  </div>
</div>